$mainColor: #ecf4fc;
$sideColor: #2719cc;
$thirdColor: #222222;
$titleColor: #000000;
$textColor: #596277;
$backgroundColor: #ffffff;
$depNav_background: #F3F4F5;
$depNav_hover: #D0D0D7;
$tablet_bp: 1200px;
$mobile_bp: 600px;
